node_modules
node_modules/
flutter/
whatsapp-session/
.env
*.log
.DS_Store
Thumbs.db
school.db
*.db
Any.db

*.sqlite
*.sqlite3
logs/
*.log
.vscode/
playwright-report/
test-results/
face-service/
public/
